body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto",
        "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
        "Helvetica Neue", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
        monospace;
}

.fc .fc-toolbar.fc-header-toolbar {
    margin-bottom: 0;
}

@media screen and (max-width: 768px) {
    .fc .fc-toolbar-title {
        font-size: 17px;
        color: #37362f;
        display: inline;
    }
    .fc .fc-button-primary {
        font-size: 17px;
        background-color: #ffffff00;
        color: #acaba9;
        border: none;
        outline: none;
    }
}
@media screen and (min-width: 768px) {
    .fc .fc-toolbar-title {
        font-size: 2vh;
        color: #37362f;
        display: inline;
    }
    .fc .fc-button-primary {
        font-size: 2vh;
        background-color: #ffffff00;
        color: #acaba9;
        border: none;
        outline: none;
    }
}

:fullscreen,
::backdrop {
    background-color: rgba(255, 255, 255, 0);
}

.fc .fc-today-button {
    background-color: #ffffff00;
    color: #37362f;
    border: none;
    outline: none;
}
.fc .fc-button-primary:not(:disabled):active,
.fc .fc-button-primary:not(:disabled).fc-button-active {
    background-color: #ffffff00;
    color: #acaba9;
    box-shadow: none;
}
.fc .fc-button-primary:not(:disabled):focus,
.fc .fc-button-primary:not(:disabled).fc-button-focus {
    background-color: #ffffff00;
    color: #acaba9;
    box-shadow: none;
}
.fc .fc-today-button:disabled {
    opacity: 1;
}
